:root {
    --contact-color: rgba(255, 255, 255, 0.6);
    --brand-color: rgb(33, 150, 243);
    --border-bottom-header-color: #ECECEC;
    --fon-social-icon-color: #44454E;
    --border-white-color: #EEEEEE;
    --social-icon-color: #AFB1B8;
    --light-gray-color: #F5F4FA;
    --fon-black-color: #2F303A;
    --black-color: #212121;
    --white-color: #FFFFFF;
    --gray-color: #757575;
}
body {
    font-family: 'Roboto', sans-serif;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul, ol {
    margin: 0;
    padding-left: 0;
}
button {
    cursor: pointer;
}
address {
    font-style: normal;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
* {
    box-sizing: border-box;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.logotype-color-text {
    color: var(--brand-color);
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}
.header {
    border-bottom: 1px solid var(--border-bottom-header-color);
}
.header-container {
    display: flex;
    align-items: center;
}
.header-navigation {
    display: flex;
    align-items: center;
}
.header-connect {
    margin-left: auto;
}
.header-list {
    display: flex;
    gap: 50px;
}
.header-logotype {
    margin-right: 93px;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--black-color);
}
.header-menu-link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--black-color);
}
    .header-menu-link:hover, .header-menu-link:focus {
        color: var(--brand-color);
    }
.header-contact-menu-link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
}
.header-contact-menu {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--gray-color);
}
    .header-contact-menu-link:hover .header-contact-menu {
        color: var(--brand-color);
    }
    .header-contact-menu-link:focus .header-contact-menu {
        color: var(--brand-color);
    }
.header-contact-icon {
    margin-right: 10px;
    fill: var(--gray-color);
}
    .header-contact-menu-link:hover .header-contact-icon {
        fill: var(--brand-color);
    }
    .header-contact-menu-link:focus .header-contact-icon {
        fill: var(--brand-color)
    }
.services {
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/pictare-fon.jpg);
}
.services-title {
    max-width: 696px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
}
.services-btn {
    width: 216px;
    height: 50px;
    margin: 30px auto 0;
    display: block;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid var(--brand-color);
    border-radius: 4px;
}
    .services-btn:focus {
        border: 1px solid var(--focus-color);
    }
.description-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: row;
}
.description-block {
    padding-top: 30px;
    padding-bottom: 30px;
}
.description-block-image {
    width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: var(--light-gray-color);    
}
.description-list-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--black-color);
}
.description-list-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--gray-color);
}
.gallery {
    padding-top: 0;
}
.gallery-title {
    margin-bottom: 50px;
    color: var(--black-color);
}
.gallery-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: row;
}
.gallery-item {
    width: 370px;
}
.team {
    background: var(--light-gray-color);
}
.team-title {
    margin-bottom: 50px;
    color: var(--black-color);
}
.team-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: row;
}
.team-item {
    width: 270px;
    background-color: var(--white-color);
}
.team-article-block {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-block {
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-list-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-color);
}
.team-list-profesion {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--gray-color);
}
.team-social-list {
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.team-social-item {
    width: 44px;
    height: 44px;
}
.team-social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--social-icon-color);
    border-radius: 50%;
}
    .team-social-link:hover, .team-social-link:focus {
        background-color: var(--brand-color);
    }
    .team-social-link:hover .team-social-icon {
        fill: var(--white-color);
    }
    .team-social-link:focus {
        fill: var(--white-color);
    }
.group-title {
    margin-bottom: 50px;
    color: var(--black-color);
}
.group-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: row;
}
.group-item {
    width: 170px;
    height: 92px;
}
.group-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--social-icon-color);
    fill: var(--social-icon-color);
    border-radius: 4px;
}
    .group-link:hover, .group-link:focus {
        border-color: var(--brand-color);
    }
    .group-link:hover .group-social-icon {
        fill: var(--brand-color);
    }
    .group-link:focus .group-social-icon {
        fill: var(--brand-color);
    }
.button-list {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-direction: row;
}
.button-menu {
    width: auto;
    height: 38px;
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-color);
    background-color: var(--light-gray-color);
    border: 1px solid var(--light-gray-color);
    border-radius: 4px;
}
    .button-menu:hover, .button-menu:focus {
        color: var(--white-color);
        background-color: var(--brand-color);
        border: 1px solid var(--brand-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
.product-list {
    display: flex;
    align-content: center;
    justify-content: center;
    grid-gap: 30px;
    flex-wrap: wrap;
    flex-direction: row;
}
.product-item {
    width: 370px;
}
.product-link {
    width: 100%;
    height: 100%;
    display: inline-block;
    align-items: center;
    justify-content: center;
}
    .product-link:hover, .product-link:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
.product-block {
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
    border-left: 1px solid var(--border-white-color);
    border-right: 1px solid var(--border-white-color);
    border-bottom: 1px solid var(--border-white-color);
}
.product-list-tovar {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--black-color);
}
.product-list-type {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--gray-color);
}
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--fon-black-color);
}
.footer-container {
    display: flex;
    align-items: baseline;
}
.footer-address {
    align-items: baseline;
}
.footer-logotype {
    margin-bottom: 20px;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--white-color);
}
.footer-item {
    margin-bottom: 9px;
}
    .footer-item:nth-child(3) {
        margin-bottom: 0;
    }
.footer-address-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-color);
}
.footer-contact-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contact-color);
}
    .footer-address-link:hover, .footer-contact-link:hover, .footer-address-link:focus, .footer-contact-link:focus {
        color: var(--brand-color);
    }
.footer-block {
    margin-left: 70px;
    align-items: baseline;
}
.footer-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
}
.footer-social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.footer-social-item {
    width: 44px;
    height: 44px;
}
.footer-social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--fon-social-icon-color);
    fill: var(--white-color);
    border-radius: 50%;
}
    .footer-social-link:hover, .footer-social-link:focus {
        background-color: var(--brand-color);
    }
.footer-social-link:hover .footer-social-icon {
    fill: var(--white-color);
}
.footer-social-link:focus {
    fill: var(--white-color);
}